# Utility function which cats and prints agent.json config, but excludes the secrets
# (API key)
$Config = (Get-Content "C:\Program Files (x86)\Scalyr\config\agent.json")
$Config = $Config -replace '"?api_key"?.*$', '"api_key": "**********************",'
echo $Config
