# Test MITM attack - agent should fail to connect and start up with invalid hostname
AGENT_SCALYR_COM_IP=$(dig +short agent.scalyr.com 2> /dev/null | tail -n 1 | tr -d "\n")
MOCK_HOST="invalid.mitm.should.fail.test.agent.scalyr.com"
ETC_HOSTS_ENTRY="${AGENT_SCALYR_COM_IP} ${MOCK_HOST}"

# Add mock /etc/hosts entry and agent config scalyr_server entry
echo "${ETC_HOSTS_ENTRY}" | sudo tee -a /etc/hosts
sudo sed -i '$ d' /etc/scalyr-agent-2/agent.json
sudo sed -i '$ d' /etc/scalyr-agent-2/agent.json
echo -e ",\n scalyr_server: \"https://invalid.mitm.should.fail.test.agent.scalyr.com:443\"\n}" | sudo tee -a /etc/scalyr-agent-2/agent.json

echo ""
echo "Restarting agent"
echo ""
sudo /etc/init.d/scalyr-agent-2 restart

sleep 10

# Agent should fail to connection because hostname verification should fail
echo ""
echo "Verifying agent status output"
echo ""
STATUS_OUTPUT=$(sudo scalyr-agent-2 status -v)
echo -e "${STATUS_OUTPUT}"
echo ""

echo -e "${STATUS_OUTPUT}" | grep "Last successful communication with Scalyr: Never"
echo -e "${STATUS_OUTPUT}" | grep "Bytes uploaded successfully:               0"
echo -e "${STATUS_OUTPUT}" | grep "Last copy request size:                    0"
echo -e "${STATUS_OUTPUT}" | grep "Last copy response size:                   0"
echo -e "${STATUS_OUTPUT}" | grep "Last copy response status:                 client/connectionFailedCertHostnameValidationFailed"

echo ""
echo "Status output successfuly verified."
echo ""

echo ""
echo "Verifying agent logs"
echo ""

sudo cat /var/log/scalyr-agent-2/agent.log | grep "Failed to connect to"
sudo cat /var/log/scalyr-agent-2/agent.log | grep "Failed to connect to \"https://${MOCK_HOST}:443\""
sudo cat /var/log/scalyr-agent-2/agent.log | grep "because of server certificate validation error"
sudo cat /var/log/scalyr-agent-2/agent.log | grep "This likely indicates a MITM attack"

echo ""
echo "agent.log output successfuly verified"
echo ""

# Clean up at the end and remove all the refernces to the mock host and IP
sudo sed -i -n "/${AGENT_SCALYR_COM_IP}/!p" /etc/hosts
sudo sed -i -n "/${MOCK_HOST}/!p" /etc/scalyr-agent-2/agent.json
