echo ""
echo "Restarting agent"
echo ""

# NOTE: Before each restart and after each new set of checks, we delete the log file to ensure
# assertions / checks we are performed are performed against the latest version of the logs and not
# against old logs from previous start.
sudo /etc/init.d/scalyr-agent-2 stop || true

if [ -f "/var/log/scalyr-agent-2/agent.log" ]; then
    echo "Tailling last 50 lines of log after stop before log removal"
    echo "-----------------------------"
    sudo tail -50 /var/log/scalyr-agent-2/agent.log
    echo "-----------------------------"
    echo ""
fi

sudo rm -f /var/log/scalyr-agent-2/agent.log

sudo /etc/init.d/scalyr-agent-2 start

sleep 5

if [ -f "/var/log/scalyr-agent-2/agent.log" ]; then
    echo "Tailling last 50 lines of log after start with fresh logs"
    echo "-----------------------------"
    sudo tail -50 /var/log/scalyr-agent-2/agent.log
    echo "-----------------------------"
    echo ""
fi

echo ""
echo "Agent restarted"
echo ""
