echo ""
echo "Restarting agent"
echo ""

scalyr-agent-2 stop;

Get-Process -Name ScalyrAgentService

Start-Sleep 2

echo "Tailling last 50 lines of log"
echo "-----------------------------"
Get-Content "C:\Program Files (x86)\Scalyr\log\agent.log" -Tail 50 -ErrorAction SilentlyContinue
echo "-----------------------------"

Remove-Item -Path "C:\Program Files (x86)\Scalyr\log\agent.log" -Force -ErrorAction SilentlyContinue
Remove-Item -Path "C:\Program Files (x86)\Scalyr\data\checkpoints.json" -Force -ErrorAction SilentlyContinue
Remove-Item -Path "C:\Program Files (x86)\Scalyr\data\active-checkpoints.json" -Force -ErrorAction SilentlyContinue

scalyr-agent-2 start;
Start-Sleep 5
