if [ -f "{{ package_file }}" ]; then
    echo_with_date "==========================="
    echo_with_date "Checking {{ package_file }} package file ownership"
    echo_with_date "==========================="

    # Verify the permissions and file ownership inside the archive. Keep in mind that until we comment
    # out fpm flag in build_package.py, permissions won't be correct since they are fixed as part of
    # postinst step, but file ownership should be 0:0 aka owned by root:root
    FILE_PERMISSIONS=$(ar p "{{ package_file }}" data.tar.gz | tar -zvt ./etc/scalyr-agent-2/agent.json)
    echo "${FILE_PERMISSIONS}"

    echo "${FILE_PERMISSIONS}" | grep "0/0" || echo "${FILE_PERMISSIONS}" | grep "root/root"
    if [ $? -ne 0 ]; then
        echo "Owner of the file is not root:root!"
        exit 1
    fi

    echo_with_date "File ownership inside the deb package is correct."
fi
