sudo cp agent.json /etc/scalyr-agent-2/agent.json

{% include "partial/restart_agent_and_remove_logs.sh.j2" %}

echo_with_date ""
echo_with_date "Verifying systemd_managed files doesn't exist"
echo_with_date ""

if [ -f "/etc/scalyr-agent-2/systemd_managed" ]; then
    echo "File /etc/scalyr-agent-2/systemd_managed exists, but it shouldn't"
    exit 1
fi

echo_with_date ""
echo_with_date "Verifying --systemd-managed flag"
echo_with_date ""

sudo scalyr-agent-2-config --systemd-managed

# Verify rc*.d symlinks have been removed
echo_with_date ""
echo_with_date "Verifying rc.d symlinks have been removed"
echo_with_date ""

ls -la /etc/rc*.d/
echo_with_date ""
ls -la /etc/rc*.d/ | grep scalyr-agent | wc -l | grep 0

# Verify systemd service config file is present
echo_with_date ""
echo_with_date "Verifying .service file is in place"
echo_with_date ""

ls -la /etc/systemd/system/scalyr-agent-2.service
cat /etc/systemd/system/scalyr-agent-2.service

echo_with_date ""
echo_with_date "Verifying service has been installed"
echo_with_date ""

sudo systemctl status scalyr-agent-2 || true
sudo systemctl status scalyr-agent-2 | grep "loaded"

# Verify file which tells the agent to not create rc.d symlink on upgrade exists
echo_with_date ""
echo_with_date "Verifying systemd_managed files exists"
echo_with_date ""

ls -la /etc/scalyr-agent-2/systemd_managed
