# Verify agent.json is not readable by others
echo_with_date ""
echo_with_date "Verifying agent.json and agent.d permissions"
echo_with_date ""

# NOTE: This check needs to be performed as early as possible after fresh installation before
# other tools modify the config
ls -la /etc/scalyr-agent-2/
ls -la /etc/scalyr-agent-2/agent.d/

AGENT_JSON_PERMISSIONS=$(stat -c %a "/etc/scalyr-agent-2/agent.json")

if [ "${AGENT_JSON_PERMISSIONS}" != "640" ]; then
    echo "Expected 640 permissions for agent.json, got ${AGENT_JSON_PERMISSIONS}."
    exit 2
fi

echo_with_date ""
echo_with_date "agent.json and agent.d permissions verified"
echo_with_date ""
