[paths]
source =
    ./
    /home/circleci/scalyr-agent-2/
    /usr/share/scalyr-agent-2/py/
    /Users/runner/work/scalyr-agent-2/scalyr-agent-2/
    /home/runner/work/scalyr-agent-2/scalyr-agent-2/
    /home/runner/scalyr-agent-2/scalyr-agent-2/
    /usr/share/scalyr-agent-2/py/
    D:\a\scalyr-agent-2\scalyr-agent-2\

[run]
branch = True

[report]
omit =
    */venv/*
    */third_party*/*
    */platform_tests/*
    tests/ami/*
    tests/distribution/*
    tests/distribution_builders/*
    tests/image_builder/*
