default_language_version:
  python: python3.6

exclude: '(third_party.*|third_party_tls.*)'
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: .tox/lint/bin/black --check --config pyproject.toml
      language: script
      types: [file, python]
  - repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: .tox/lint/bin/flake8 --config lint-configs/python/.flake8
      language: script
      types: [file, python]
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: .tox/lint/bin/pylint -E --rcfile=./lint-configs/python/.pylintrc
      language: script
      types: [file, python]
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      # NOTE: We intentionally want to run in incremental mode to speed this check up
      # (which is not the case for tox -elint target and CI where we want to avoid using
      # MyPy cache)>
      entry: .tox/lint/bin/mypy --pretty --config-file ./lint-configs/python/mypy.ini
      language: script
      types: [file, python]
