# This is only meant for Scalyr's internal development and dev environment.
# These dependencies are not needed to run the Scalyr Agent, but mainly used for
# running test suites, and mocking Python Objects for the Scalyr Agent.
-r agent_build/requirement-files/testing-requirements.txt
-r agent_build/requirement-files/compression-requirements.txt
-r agent_build/requirement-files/build-requirements.txt

