# This is only meant for Scalyr's internal development and dev environment.
# These dependencies are not needed to run the Scalyr Agent, but mainly used for
# running test suites, and mocking Python Objects for the Scalyr Agent.

# Testing tools and libraries
tox==3.14.3
mock==3.0.5
pytest==4.6.9
pytest-coverage
coverage==4.5.4
codecov==2.0.15

# Test / 3rd party dependencies
-r extra-requirements.txt