# This file contains requirements which are needed by the lint test targets
black==21.4b2
modernize==0.7
flake8==4.0.1
pylint==2.11.1
mypy==0.0910
# Types for mypy for external modules
types-six
types-mock
types-requests
types-orjson
types-PyMySQL
types-redis
types-backports
types-cryptography
types-PyYAML
types-decorator
types-ujson
types-jinja2
bandit==1.7.1
