# NOTE: We rely on change in Libcloud which allows us to specify a custom wait_period which makes
# it less likely for us to hit EC2 rate limits when spinning up and deploying many instances
# concurrently
#git+https://github.com/apache/libcloud.git@trunk#egg=apache-libcloud
apache-libcloud==3.4.1
paramiko==2.7.2
Jinja2==2.11.3
