<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='$(var.PRODUCTCODE)' Name='Scalyr Agent 2' Version='$(var.VERSION)'
        Language='1033' UpgradeCode='$(var.UPGRADECODE)' Manufacturer='Scalyr' >

        <Package Description='Scalyr Agent' Manufacturer='Scalyr' InstallerVersion='200'
            Comments='Scalyr Agent for Windows Platforms' Compressed='yes'
            InstallPrivileges='elevated' InstallScope='perMachine'
            />
        <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <!-- Define directory structure -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' >
                <Directory Id='APPLICATIONROOTDIRECTORY' Name='Scalyr' >
                    <Directory Id='APPLICATIONCERTS' Name='certs' />
                    <Directory Id='DEFAULTAPPLOGS' Name='log' />
                    <Directory Id='DEFAULTAPPLIBS' Name='lib' />
                    <Directory Id='APPLICATIONBINDIR' Name='bin' />
                    <Directory Id='DEFAULTAPPCONFIG' Name='config'>
                        <Directory Id='DEFAULTAPPCONFIGD' Name='agent.d' />
                        <Directory Id='CONFIGTEMPLATES' Name='templates' />
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='Scalyr' />
            </Directory>
        </Directory>

        <!-- Define files within directory structure -->
        <DirectoryRef Id='APPLICATIONCERTS'>
            <Component Id='ca_certs.crt' Guid='B2011AAE-03FB-46AC-91CC-A3E116DF054D'>
                <File Id='ca_certs.crt' Source='Scalyr\certs\ca_certs.crt' KeyPath='yes' Checksum='yes' />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id='CONFIGTEMPLATES'>
            <Component Id='config_tmpl' Guid='571081B1-6926-45D0-A7EE-8D55E7531E16'>
                <File Id='config.tmpl' Name='agent_config.tmpl' KeyPath='yes' Checksum='yes' Source='data_files\agent_config.tmpl' />
            </Component>
        </DirectoryRef>

        <!-- Scalyr Application Files -->
        <DirectoryRef Id='APPLICATIONBINDIR'>
            <Component Id='scalyr_agent_2' Guid='5f035924-953c-4d3c-b5c7-74df47a4b1a7' >
              <File Id='scalyr_agent_2_exe' DiskId='1' KeyPath='yes' Checksum='yes'  Source='Scalyr\bin\scalyr-agent-2.exe' />
                  <Environment Action="set" Id="SetPathToInstallFolderToSystemPath" Name="PATH" System="yes"
                      Value="[APPLICATIONBINDIR]" Permanent="no" Part="last"/>
                  <Environment Action="set" Id="SetScalyrEnv" Name="SCALYR" System="yes"
                      Value="[APPLICATIONROOTDIRECTORY]" Permanent="no" Part="all"/>
            </Component>

            <Component Id='scalyr_agent_2_config' Guid='87f0aa3c-f5be-49bd-9fd3-5d735f3793f2' >
              <File Id='scalyr_agent_2_config_exe' DiskId='1' KeyPath='yes' Checksum='yes'  Source='Scalyr\bin\scalyr-agent-2-config.exe' />
            </Component>

            <Component Id='ScalyrAgentService' Guid='cf5da252-7803-45c0-b33b-e1745925cd09' >
              <File Id='ScalyrAgentService_exe' DiskId='1' KeyPath='yes' Checksum='yes'  Source='Scalyr\bin\ScalyrAgentService.exe' />
              <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="ScalyrAgentService"
                              DisplayName="ScalyrAgentService"
                              Description="The Scalyr Agent sends logs and metrics to Scalyr."
                              Start="auto"
                              Account="LocalSystem"
                              ErrorControl="normal"
                              Interactive="no" />
              <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="ScalyrAgentService" Wait="yes" />
            </Component>

            <Component Id='ScalyrShell' Guid='180482b7-d9de-4b95-bbf9-4f2c34acd5c5' >
              <File Id='ScalyrShell_cmd' DiskId='1' KeyPath='yes' Checksum='yes'  Source='Scalyr\bin\ScalyrShell.cmd' />
            </Component>

            <!-- This next stanza is me cheating.  We have build_package.py expand it to all the files that were -->
            <!-- put in the dist directory by py2exe that should be distributed.  There's probably a wix way to do -->
            <!-- but it's too much of a pain to learn. -->

            <!-- EXPAND_FROM_BIN EXCLUDE:scalyr-agent-2.exe,scalyr-agent-2-config.exe,ScalyrAgentService.exe,ScalyrShell.cmd -->
            <Component Id='$COMPONENT_ID' Guid='$COMPONENT_GUID' >
              <File Id='$FILE_ID' DiskId='1' KeyPath='yes' Checksum='yes'  Source='$FILE_SOURCE' />
            </Component>
            <!-- EXPAND_FROM_BIN -->

        </DirectoryRef>


        <!-- Application Menu Shortcuts -->
        <DirectoryRef Id='ApplicationProgramsFolder'>
            <Component Id='ApplicationShortcut' Guid='a55c9c08-ad2e-4c63-a434-26a226b45c57'>
                <Shortcut Id='EditConfig' Name='Edit agent configuration' Description='Default application logs folder'
                        Target='[SystemFolder]notepad.exe' Arguments='[DEFAULTAPPCONFIG]\agent.json' />

                <Shortcut Id='StartScalyrShortcut' Name='Start the Scalyr Agent'
                    Description='Executes the command to start the agent in a console window, displaying output.'
                    Target='[#ScalyrShell_cmd]' Arguments='start' WorkingDirectory='APPLICATIONROOTDIRECTORY' />

                <Shortcut Id='StopScalyrShortcut' Name='Stop the Scalyr Agent'
                    Description='Executes the command to stop the agent in a console window, displaying output'
                    Target='[#ScalyrShell_cmd]' Arguments='stop' WorkingDirectory='APPLICATIONROOTDIRECTORY' />

                <Shortcut Id='ScalyrStatusShortcut' Name='View agent status'
                    Description='Executes the command to display the detailed status in a console window.'
                    Target='[#ScalyrShell_cmd]' Arguments='status' WorkingDirectory='APPLICATIONROOTDIRECTORY' />


                <Shortcut Id='ApplicationLogs' Name='View logs folder' Description='Open default application logs folder'
                    Target='[WindowsFolder]explorer.exe' Arguments='[DEFAULTAPPLOGS]' />

                <Shortcut Id='UninstallProduct' Name='Uninstall' Description='Uninstalls the Scalyr Agent 2'
                    Target='[SystemFolder]msiexec.exe' Arguments='/x [ProductCode]' />

                <Shortcut Id='CmdShellShortcut' Name='Command prompt'
                    Description='Opens a console window to use for executing Scalyr Agent commands.'
                    Target='[#ScalyrShell_cmd]' WorkingDirectory='APPLICATIONROOTDIRECTORY' />

                <RemoveFolder Id='ApplicationProgramsFolder' On='uninstall' />
                <RegistryValue Root='HKCU' Key='Software\Scalyr\ScalyrAgent2'
                    Name='installed' Type='integer' Value='1' KeyPath='yes' />
            </Component>
        </DirectoryRef>


        <!-- -->
        <Feature Id='ScalyrApplication' Title='Scalyr Application' Level='1'>
            <ComponentRef Id='scalyr_agent_2' />
            <ComponentRef Id='scalyr_agent_2_config' />
            <ComponentRef Id='ScalyrAgentService' />
            <ComponentRef Id='ScalyrShell' />
            <ComponentRef Id='ApplicationShortcut' />
            <ComponentRef Id='ca_certs.crt' />
            <ComponentRef Id='config_tmpl' />
            <!-- EXPAND_FROM_BIN EXCLUDE:scalyr-agent-2.exe,scalyr-agent-2-config.exe,ScalyrAgentService.exe,ScalyrShell.cmd -->
            <ComponentRef Id='$COMPONENT_ID' />
            <!-- EXPAND_FROM_BIN -->
        </Feature>

        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="ExitDialog"
                Control="Finish">
            </Publish>
        </UI>

        <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
        <Property Id="ALLUSERS" Value="2" />
        <!-- This is a little bit of a hack.  We run the config tool to initialize the config, which means it -->
        <!-- makes a copy of the config temlate, puts it in the right location and sets the owner to the current -->
        <!-- user.  We use the quiet execute commandline tool so a console window does not pop up -->
        <Property Id="QtExecCmdLine" Value='"C:\Program Files (x86)\Scalyr\bin\scalyr-agent-2-config.exe" --init-config'/>
        <CustomAction Id="InitializeConfig" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="check"/>

        <InstallExecuteSequence>
          <WriteEnvironmentStrings />
          <Custom Action="InitializeConfig" After="InstallFinalize"/>
        </InstallExecuteSequence>
    </Product>
</Wix>
