-r ./main-requirements.txt
-r ./compression-requirements.txt

# Used for performance optimized versions of rfc3339_to_* functions
# NOTE: Not supported on windows
udatetime==0.0.17; platform_system != 'Windows'

# Two dependencies below are used for CPU and memory profiling which is opt-in and disabled by
# default. We include it in the Docker image to make  troubleshooting (profiling) easier for the
# end user (no need to rebuild Docker image - user can simply enable the corresponding agent config
# option)
yappi==1.3.6; python_version >= '3.7' and python_version < '3.11'
pympler==1.0.1; python_version >= '3.7'
# used by Python 2.7 tests
pympler==0.8; python_version < '3.7'

# note: 5.0 drops support for Python 2.7 so we can't use it for our Python 2.7 unit tests target
docker==6.0.0; python_version >= '3.7'
docker==5.0.3; python_version == '3.6'
docker==4.4.4; python_version < '3.6'

psutil==5.7.0
