# The main "setup" workflow, that calls other workflows.
name: Docker Images Build

on: [push]

# Agent Docker image tests
jobs:
  docker-json:
    if: ${{ github.ref == 'refs/heads/docker_image_push_test' || github.ref_name == 'docker_image_push_test' || github.ref_name == 'docker_image_push_test' }}
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@docker_image_push_test
    with:
      image-type: docker-json
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}

  docker-syslog:
    if: ${{ github.ref == 'refs/heads/docker_image_push_test' || github.ref_name == 'docker_image_push_test' || github.ref_name == 'docker_image_push_test' }}
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@docker_image_push_test
    with:
      image-type: docker-syslog
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}

  docker-api:
    if: ${{ github.ref == 'refs/heads/docker_image_push_test' || github.ref_name == 'docker_image_push_test' || github.ref_name == 'docker_image_push_test' }}
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@docker_image_push_test
    with:
      image-type: docker-api
      publish: false
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}

  k8s:
    if: ${{ github.ref == 'refs/heads/docker_image_push_test' || github.ref_name == 'docker_image_push_test' || github.ref_name == 'docker_image_push_test' }}
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@docker_image_push_test
    with:
      image-type: k8s
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}
