# The main "setup" workflow, that calls other workflows.
name: Scalyr Agent Build.

on: [push]

# Agent image tests.
jobs:
  match-branches:
    runs-on: ubuntu-20.04

    steps:
      - name: Check branches.
        env:
          TARGET_BRANCH: check-image-caching

        # Because of the issue https://github.community/t/ref-head-in-reusable-workflows/203690
        # there's no way to specify local re-usable workflow. The branch of the workflow has to be specified manually and statically
        # To avoid confusion, run this check that will fail if the current branch does not match the branch of the workflow.
        # TODO: Create pre-commit hook that verifies branch name and changes it if needed. That may be a good workaround
        # until Github add needed feature.
        if: ${{ github.ref_type == 'branch' && github.ref_name != 'check-image-caching' }}
        uses: actions/github-script@v3
        with:
          script: |
              core.setFailed("The current branch is '${{ github.ref_name }}' but it has to be 'check-image-caching'")

  docker-json:
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@check-image-caching
    with:
      image-type: docker-json
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}

  docker-syslog:
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@check-image-caching
    with:
      image-type: docker-syslog
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}

  docker-api:
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@check-image-caching
    with:
      image-type: docker-api
      publish: false
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}

  k8s:
    uses: scalyr/scalyr-agent-2/.github/workflows/docker-and-k8s.yml@check-image-caching
    with:
      image-type: k8s
    secrets:
      SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN: ${{ secrets.SCALYR_PROD_CLOUDTECH_TESTING_WRITE_TOKEN }}
      SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY: ${{ secrets.SCALYR_CLOUDTECH_TESTING_DEV_SCALYR_READ_API_KEY }}
