name: Build Windows package

on:
  push:
    branches:
      - master
    tags:
      - v*.*.*
  pull_request:
    branches:
      - master
  workflow_dispatch:

  schedule:
    - cron: '0 4 * * *'

jobs:
  build-windows-package:
    name: Build windows MSI installer
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Setup Python
        uses: actions/setup-python@v4
        id: setup-python
        with:
          python-version: '3.10'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements-new.txt

      - name: Build agent package and installer
        run: python build_package.py win32

      - name: Save installer as artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-msi
          path: ScalyrAgentInstaller-*.msi

      - name: Notify Slack on Failure
        if: ${{ failure() && github.ref_name == 'master' }}
        uses: act10ns/slack@ed1309ab9862e57e9e583e51c7889486b9a00b0f # v2.0.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: '#eng-dataset-cloud-tech'
