name: Codespeed Benchmarks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  # Special job which automatically cancels old runs for the same branch, prevents runs for the
  # same file set which has already passed, etc.
  pre_job:
    name: Skip Duplicate Jobs Pre Job
    runs-on: ubuntu-latest
    permissions:
      actions: write  # Needed for skip-duplicate-jobs job
      contents: read
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@9d116fa7e55f295019cfab7e3ab72b478bcf7fdd # v4.0.0
        with:
          cancel_others: 'true'
          github_token: ${{ github.token }}

  codespeed-micro-benchmarks:
    runs-on: ubuntu-latest
    needs: pre_job
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "2.7"
          - "3.5"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v4
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Deps
        env:
          TOX_VERSION: 3.20.1
          TOX_GH_ACTIONS_VERSION: 2.9.1
        run: |
          python -m pip install --upgrade pip
          pip install "tox==$TOX_VERSION" "tox-gh-actions==$TOX_GH_ACTIONS_VERSION" "cffi==1.12.3" "udatetime==0.0.16" "requests"
          # Needed for snappy library
          sudo apt-get update
          sudo apt-get install -y libsnappy-dev

      - name: Run Benchmarks
        run: tox -e micro-benchmarks

      - name: Process and submit results to CodeSpeed
        if: (github.ref == 'refs/heads/master' || github.head_ref == 'master')
        env:
          PYTHONPATH: .
          CODESPEED_URL: "https://scalyr-agent-codespeed.herokuapp.com/"
          CODESPEED_PROJECT: "scalyr-agent-2-microbenchmarks"
          CODESPEED_EXECUTABLE: ${{ steps.setup-python.outputs.python-version }}
          # don't know what this next var should be yet
          # CODESPEED_ENVIRONMENT: Circle CI Docker Executor Medium Size
          CODESPEED_AUTH: ${{ secrets.CODESPEED_AUTH }}
        run: python benchmarks/scripts/send_microbenchmarks_data_to_codespeed.py --data-path="benchmark_results/*.json" --debug

      - name: Store artifacts
        uses: actions/upload-artifact@v3
        with:
          name: codespeed-micro-benchmarks-${{ matrix.python-version }}
          path: |
            benchmark_results/
            benchmark_histograms/

      - name: Notify Slack on Failure
        # NOTE: github.ref is set to pr ref (and not branch name, e.g. refs/pull/28/merge) for pull
        # requests and that's why we need this special conditional and check for github.head_ref in
        # case of PRs
        if: ${{ failure() && (github.ref == 'refs/heads/master' || github.head_ref == 'master') }}
        uses: act10ns/slack@87c73aef9f8838eb6feae81589a6b1487a4a9e08 # v1.6.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: '#cloud-tech'
